.entities-page {

  .entities-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 1024px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media (min-width: 1440px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .entity-card {
      border: 1px solid #606c76;
      border-radius: 5px;
      padding: 1rem;

      .entity-options {
        display: flex;
        justify-content: flex-end;

        &__item {
          width: 30px;
          height: 30px;
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 24px;
            height: 24px;
            object-fit: cover;
            object-position: center;
          }
          &:hover {
            background-color: #9a4dca6a
          }
          &:first-of-type {
            margin-right: 10px;
          }
        }
      }
    }
  }
}